<template name="createTeam">
	{{>navbar}}
	<div class="container-fluid">
  	<div class="row">
      <div class="col-lg-2 col-lg-offset-1"> 
  	    <div class="well">
  	      <form class="createTeam">
  	    	  <p>Team Name<input name="teamName"></p>
  	        <p><input type="submit" value="Create Team"></p>
  	      </form>
  	    </div>
      </div>
  	  <div class="col-lg-6">
    		{{> displayTeam}}
      </div>
      <div class="col-lg-2">
          
      </div>
  	</div>
  </div>
</template>