body {
	background-color: #295C92;
}

.jumbotron {
	background-color: #E03F32;
	background: "images/banner.jpg";
	padding: 0;
}

.banner {
	width: auto;
	height: 230px;
}

.login p{
	float: right;
}

.register p{
	float: left;
}

label {
	display: block;
}

.party{
	display: inline;
}

.openRegisterModal {
    float: right;
}

.loginFields{
	display: inline;
	margin-top: 8px;
	margin-right: 8px;
}

.registerButtons{
	float: right;
}

.loginButton{
	margin-top: -5px;
}

.navbar-brand{
	margin-top: 15px;
}

.navbar{
	margin-bottom: 0px;
}

.loginEmail{
	padding-right: 8px;
}

.loginPassword{
	padding-right: 8px;
}

.form-control{
	width: 150px;
	display: inline;
}

.logo{
	height: 250%;
}


