body {
	background-color: #28435E;
}

.navbar {
	background-color: #C7CDD3;
}

.jumbotron {
	background-color: #E03F32;
	background: "images/banner.jpg";
}

.banner {
	width: 100%;
	height: auto;
}

.login p, .register p {
	float: left;
}

label {
	display: block;
}

.party{
	display: inline;
}

.openRegisterModal {
    float: right;
}

.loginFields{
	display: inline;
	margin-right: 8px;
}

.loginButton{
	margin-top: -5px;
}

.navbar-brand{
	margin-top: 15px;
}

.table {
   border-radius: 5px;
   background-color: #A7B4C1;
}

th, td {
	padding: 15px;
	text-align: center;
}
 	
/*.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F5695E;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #4570A0;
 }*/
