<template name="add_player">
    <form class="add_player">

    	<p>Player: <input name="playerName"></p>
        <p class="party">Party:</p>
            <select name="party">
                <option>Democrat</option>
                <option>Republican</option>
                <option>Independent</option>
            </select>
        <p>State: <input name="state"></p>  
        <p>Position: </p>
            <label>
                <input class="position" 
                type="checkbox" 
                value="presCandidate">
                Presidential Candidate
            </label>
            <label>
                <input class="position" 
                type="checkbox" 
                value="senator">
                Senator
            </label>
            <label>
                <input class="position" 
                type="checkbox" 
                value="representative"> 
                Representative
            </label>
            <label>
                <input class="position" 
                type="checkbox" 
                value="governor"> 
                Governor
            </label>
            <label>
                <input class="position" 
                type="checkbox" 
                value="congressperson"> 
                Congressperson
            </label>

        <p>Polls: <input type="number" name="polls"></p>
        <p>Funding: <input type="number" name="funding"></p>
        <p>Bonus: <input name="bonus"></p>
        <p>Cost: <input type="number" name="cost"></p>
        <p><input type="submit" value="Add Player"></p>
    </form>
</template>
