<template name="newsfeed">
  <div class="well">
    <h4>For Democratic pragmatists, Sanders is the better choice</h4>
    <img src="/news1.png" class="newsImg">  
    <p>In the run-up to Monday’s Iowa caucuses, presumed Democratic presidential front-runner Hillary Clinton at last admitted something that has been clear for months: Sen. Bernie Sanders is beating her in this campaign. He may not lead many polls, but he’s climbing, and he’s making it hard for her. She won’t say this outright, instead resorting to a cliché, saying, “You campaign in poetry, you govern in prose.” <a target="_blank" href="http://america.aljazeera.com/opinions/2016/1/for-democratic-pragmatists-sanders-is-the-better-choice.html">[...]</a></p>
  </div>
  <div class="well">
    <h4>Presidential hopefuls make their final pitches to Iowa voters</h4>
    <img src="/news2.png" class="newsImg">  
    <p>Democrat Bernie Sanders says he's ready to stun the political world if his supporters turn out for Monday's presidential caucuses in Iowa. Donald Trump says he doesn't have to capture the first contest on the 2016 election calendar, but gives himself a good chance and sees a solid path ahead to the Republican nomination.” <a target="_blank" href="http://america.aljazeera.com/articles/2016/1/31/presidential-hopefuls-make-their-final-pitches-to-iowa-voters.html">[...]</a></p>
  </div>
</template>