  <template name="register">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Register</h4>
            <div class="modal-body">
              <form class="register">
                <p>Email: <input type="email" name="registerEmail"></p>
                <p>Password: <input type="password" name="registerPassword"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Register</button>
              </form>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

<template name="login">
    <form class="login">
        <p>Email: <input type="email" name="loginEmail"></p>
        <p>Password: <input type="password" name="loginPassword"></p>
        <p><input type="submit" value="Login"></p>
    </form>
</template>

<template name="dashboard">
    <p><a href="#" class="logout">Logout</a></p>
</template>
