  <template name="register">
    <form class="register">
    	<!--<p>User Name: <input name="registerUsername"></p>-->
        <p>Email: <input type="email" name="registerEmail"></p>
        <p>Password: <input type="password" name="registerPassword"></p>
        <p><input type="submit" value="Register"></p>
    </form>
  </template>

<template name="login">
    <form class="login">
        <p>Email: <input type="email" name="loginEmail"></p>
        <p>Password: <input type="password" name="loginPassword"></p>
        <p><input type="submit" value="Login"></p>
    </form>
</template>

<template name="dashboard">
    <p><a href="#" class="logout">Logout</a></p>
</template>